.mainHeader {
    width: 1356px;
    height: 47px;
    border-bottom: 0.5px solid #7199bc;
    padding-top: 19px;
}
.mainHeader > h1{
    font-size: 40px;
    width: 403px;
    text-align: left;
    float: left;
}
.header{
	    font-family: 'Antic Didone';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    background: radial-gradient(97.49% 92.29% at 2.51% 49.41%, #4CA3AF 0%, rgba(107, 124, 182, 0.818958) 47.06%, rgba(79, 35, 100, 0.59) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-align: center;
    font-size: 40px;
    width: 403px;
    text-align: left;
    float: left;
        border: none;
}
button.writeBtn {
    float: right;
    width: 30px;
    height: 30px;
    background: url(../img/icons/pen.png) no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;
    margin-top: 13px;
}

.conwrap{
    width: 1330px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 10px;
}

.table {
    width: 268px;
    height: 178px;
    margin: 0 85px 0 0;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}
.tablePic {
    width: 268px;
    height: 157px;
    border-radius: 15px;
    background: url(../img/icons/pic1.jpg) no-repeat 0px -44px;
    background-size: cover;
}
.tablehead :first-child {
    font-family: 'Caladea';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    margin-left: 10px;
    color: #2d2d2d;
}

.tablehead :last-child {
    font-family: 'Caladea';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 26px;
    color: #2d2d2d;
    float: right;
    margin-right: 10px;
}
button.mselect {
    width: 30px;
    height: 30px;
    background: url(../img/icons/important.png) no-repeat;
    background-size: cover;
    float: right;
    border-radius: 100px;
    border: none;
    margin-right:-48px;
    margin-top: 4px;
}

button.mselect.important{
    background: url(../img/icons/important_2.png) no-repeat;
    background-size: cover;
}