.mainHeader > p{
    width: 900px;
    font-family: 'Amethysta';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #4B4B4B;
    margin-top: 15px;
}
.conWrap{
    width: 1140px;
    height: 501px;
    background-color: aqua;
    margin-top: 54px;
}


#slider-wrapper {
    width: 940px;
    height: 484px;
    margin: 10px auto;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .overflow-wrapper {
    width: max-content;
    height: 94%;
    margin: 31px auto;
    z-index: 1;
    -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -o-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .slide {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.con{
  width: 300px;
  height: 425px;
  border-radius: 32px;
  background: #fff;
  box-shadow: 4px 4px 6px 1px rgba(0, 0, 0, 0.25);
  margin: 0px 6px;
}

.pic{
  width: 100%;
  height: 74%;
  background: url(../img/icons/pic1.jpg) no-repeat;
  background-size: cover;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
}
.title > h1{
  font-family: 'Caladea';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: #454545;
    margin-left: 10px;
}
.title > p{
  font-family: 'Caladea';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #7C7C7C;
  width: 89%;
  height: 54px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: keep-all;
}
.date > span{
  float: right;
  font-family: 'Caladea';
  font-style: normal;
  color: #8C8C8C;
  margin-right: 20px;
  margin-top: 5px;
}
.conHover{
  background: #45454593;
  width: 300px;
  height: 425px;
  border-radius: 31px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -o-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;
  opacity: 0;
  z-index: 1;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  top: -422px;
}
.conHover.run{
  opacity: 1;
}
.conBtn{
    background: url(../img/icons/conBtn.png) no-repeat;
    background-size: contain;
    position: relative;
    width: 11px;
    height: 35px;
    border: none;
    float: right;
    margin: 16px 11px 0px 0px;
    z-index: 10;
}
.del{
  background: url(../img/icons/del.png) no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
  border: none;
  cursor: pointer;
  display: none;
  margin-right: 62px;
}
.reWrite{
  background: url(../img/icons/reWrite.png) no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
  border: none;
  cursor: pointer;
  display: none;
  margin-left: 62px;
}
.goList{
  width: 940px;
  height: 40px;
  margin-top: 10px;
}
.goListBtn{
  background: url(../img/icons/li.png) no-repeat;
  background-size: cover;
  width: 40px;
    height: 40px;
  border: none;
  float: right;
  cursor: pointer;
}
.goListBtn:hover{
  background: url(../img/icons/liHover.png) no-repeat;
  background-size: cover;
}