.mainHeader {
    width: 1356px;
    height: 47px;
    border-bottom: 0.5px solid #7199bc;
    padding-top: 19px;
}
.mainHeader > h1{
    font-size: 40px;
    width: 403px;
    text-align: left;
    float: left;
}
.goListBtn{
    background: url(../img/icons/li.png) no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    border: none;
    float: right;
    cursor: pointer;
    margin-top: 10px;
  }
  .goListBtn:hover{
    background: url(../img/icons/liHover.png) no-repeat;
    background-size: cover;
  }
.header{
    font-size: 40px;
    width: 403px;
    text-align: left;
    float: left;
}

.writeWrap{
    background: #FFFFFF;
    width: 1287px;
    height: 776px;
    box-shadow: 0px 0px 13px 3px rgb(0 0 0 / 25%);
    border-radius: 63px;
    margin-top: 58px;
}
.top {
    height: 38px;
    padding-top: 37px;
    /* background: aquamarine; */
    width: 1218px;
}
.top > p {
    width: 685px;
    height: 29px;
    border-bottom: 1px solid #D0D0D0;
    border-left: none;
    border-right: none;
    border-top: none;
    font-family: 'Caladea';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #454545;
    float: left;
    padding-left: 20px;
}
.top > button {
    width: 35px;
    height: 35px;
    border: none;
    float: right;
    margin-right: 15px;
}
.reWrite{
    background: url(../img/icons/pen_2.png) no-repeat;
}
.delet{
    background: url(../img/icons/delet.png) no-repeat 2px 0px;
    background-size: 30px;
}
.writeconWrap {
    width: 1218px;
    display: flex;
    margin-top: 15px;
}
.left {
    width: 842px;
    height: 626px;
    background: #F7F7F7 url(../img/icons/addPic.png) no-repeat 245px 158px;
    background-size: 355px;
    margin: 0;
}
.right {
    margin: 0;
    width: 376px;
    height: 623px;
    border: 1.5px solid #D0D0D0;
}
.right > p {
    width: 97%;
    height: 99%;
    font-family: 'Baloo Bhaina 2','Amethysta';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #6d6d6d;
    border: none;
    resize: none;
    padding: 3px 0px 0px 10px;
    border: none;
}

.leftWrap{ 
    display: flex; 
    height: 626px; 
    width:400%;
    transition-property: transform; /* transform 속성에대해, js코드에 의해 transform 스타일 추가된다*/
    transition-duration: 1s; /* transition 지속시간 */
}




.slider {
  margin: 0 auto;
  max-width: 940px;
}

.slide_viewer {
      height: 626px;
    overflow: hidden;
    position: relative;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  background: #D7A151;
}

.slide:nth-of-type(2) {
  background: #F4E4CD;
}

.slide:nth-of-type(3) {
  background: #C75534;
}

.slide:nth-of-type(4) {
  background: #D1D1D4;
}

.slide_buttons {
      left: 0;
    position: relative;
    right: 0;
    text-align: center;
    width: 842px;
}

a.slide_btn {
  color: #c0c0c0;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  line-height: 23px;
}

.slide_btn.active, .slide_btn:hover {
  color:#8a8fbc;
  cursor: pointer;
}

