.mainHeader {
    width: 1356px;
    height: 47px;
    border-bottom: 0.5px solid #7199bc;
    padding-top: 19px;
}
.mainHeader > h1{
    font-size: 40px;
    width: 403px;
    text-align: left;
    float: left;
}
.header{
    font-size: 40px;
    width: 403px;
    text-align: left;
    float: left;
}

.writeWrap{
    background: #FFFFFF;
    width: 1287px;
    height: 776px;
    box-shadow: 0px 0px 13px 3px rgb(0 0 0 / 25%);
    border-radius: 63px;
    margin-top: 58px;
}
.top {
    height: 38px;
    padding-top: 37px;
    /* background: aquamarine; */
    width: 1218px;
}
.top > input {
    width: 685px;
    height: 29px;
    border-bottom: 1px solid #D0D0D0;
    border-left: none;
    border-right: none;
    border-top: none;
    font-family: 'Caladea';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #454545;
    float: left;
    padding-left: 20px;
}
.top > button {
    width: 80px;
    height: 35px;
    background: #52A1B1;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 12px;
    font-family: 'Caladea';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 28px;
    color: #FFFFFF;
    border: none;
    float: right;
    margin-right: 15px;
    cursor: pointer;
}

.top > button:active{box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);}
.top > button:hover{
	    background: #fff;
    color: #52A1B1;
}
.top :nth-child(2):hover{color: #b15252;}
.top :nth-child(2){background: #b15252;}
.writeconWrap {
    width: 1218px;
    display: flex;
    margin-top: 15px;
}
.left {
    width: 842px;
    height: 626px;
    background: #F7F7F7 url(../img/addPic.png) no-repeat 245px 158px;
    background-size: 355px;
    margin: 0;
        display: flex;
    flex-wrap: wrap;
}
.right {
    margin: 0;
    width: 376px;
    height: 623px;
    border: 1.5px solid #D0D0D0;
}
textarea#comment {
    width: 97%;
    height: 99%;
    font-family: 'Baloo Bhaina 2','Amethysta';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #6d6d6d;
    border: none;
    resize: none;
    padding: 3px 0px 0px 10px;
    border: none;
}
textarea::placeholder{
    font-family: 'Baloo Bhaina 2','Amethysta';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #A2A2A2;
}

.left > div :nth-child(2){
    width: 140px;
    height: 41px;
    background: #52A1B1;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 17.5px;
    font-family: 'Caladea';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    position: relative;
    top: -110px;
    left: 145px;
}
.left > div{
	width: 50%;
    height: 50%;
}
img {
    width: 100%;
    height: 100%;
}
.left > div :last-child {
    width: 140px;
    height: 41px;
    background: #b15252;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 17.5px;
    font-family: 'Caladea';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    position: relative;
    top: -63px;
    left: 1px;
}
